<%- layout("/layouts/boilerplate.ejs") %>
  <div class="Index">
    <h1>Get random <span class="spanName">pookie &hearts;</span> images </h1>
    <div class="cont">
      <div class="dogCont">
        <form method="get" action="DogImg">
          <h3>Get random  <span class="spanName">Dog</span> Images.</h3>
          <button class="btn btn-outline-primary"> Get Dog Img </button>
        </form>
      </div>
      <div class="catCont">
        <form method="get" action="CatImg">
          <h3>Get random  <span class="spanName">Cat</span> Images.</h3>
          <button class="btn btn-outline-primary"> Get Cat Img </button>
        </form>
      </div>
    </div>
  </div>